@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your custom styles (optional) */
:root {
  /* This tells the browser the app is light mode only */
  color-scheme: light;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #fff;
  font-family: 'Inter', sans-serif;
  background-color: #ffffff !important;
  color: #262626 !important;
}
.home-container {
  background-color: #ffffff !important;
}

a {
  text-decoration: none;
  color: inherit;
}
/* Hide horizontal scrollbar for navbar scroll */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE + Edge */
  scrollbar-width: none;     /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;             /* Chrome, Safari, Opera */
}

#root {
  overflow-x: hidden;
}
